deprecated/
work/
.nextflow/
.vscode/
.nova/
results/mhc_tmp/
results/mhc_prot_tmp/
results/kir_tmp/
results/kir_prot_tmp/
results/hla_tmp/
results/testing/
results/samplesheet_sequences/
bin/find_missing_accessions.R
src/downloadIPD
src/goDownloadIPD

.nextflow.log*
.DS_Store
trace.txt*
report.html.*
timeline.html*
report.html*
*.dot
*.png.*
._*
.Rhistory
