deprecated/
work/
.nextflow/
.nova/
results/mhc_tmp/
results/mhc_prot_tmp/
results/kir_tmp/
results/kir_prot_tmp/
results/hla_tmp/

.nextflow.log*
.DS_Store
trace.txt*
report.html.*
timeline.html*
report.html*
*.dot
*.png.*
._*
