// workflow parameters
params {
	
	// IMPORTANT WORKFLOW SETTINGS
	// These are settings that should be reviewed each time the workflow is run.
	// ------------------------------------------------------------------------
	
	// Samplesheet for specific sequences to download from EMBL
	// We recommend you use the sheet included in resources/ as a model.
	// The sheet must have 5 columns: INDSC accession ("accession"), formal 
	// allele name ("formal_name"), informal allele name ("informal_name"), 
	// IPD identifier ("ipd_id"), and animal identifier ("animal_id").
	// NOTE: the columns informal_name, ipd_id, and animal_id can be left blank
	// if this information is unavailable.
	added_seqs = "$baseDir/resources/mafa-ipd-submissions.csv"
	
	// which databases to pull. The more databases you pull, the longer the workflow will take, depending on the number of cores available. Options are true or false.
	pull_hla = false
	pull_mhc = true
	pull_kir = false
	pull_mhc_proteins = false
	pull_kir_proteins = false
	pull_added_seqs = false // this requires the samplesheet, specified above
	
	// which processing steps to complete (more details about these in README.md)
	trim_for_iwes = true
	trim_for_miseq = true
	
	// number of records to pull for each database. *These must be set manually!*
	hla_allele_count = 35251 // number of alleles in the IPD IMGT/HLA database, found near the bottom right at https://www.ebi.ac.uk/ipd/imgt/hla/alleles/. Last updated 2022-09-14
	mhc_allele_count = 12008 // number of alleles in the IPD NHP MHC database, found near the bottom right at https://www.ebi.ac.uk/ipd/mhc/allele/list/ and then double-checked with custom urls like "https://www.ebi.ac.uk/Tools/dbfetch/dbfetch?db=ipdmhc;id=NHP10958;style=raw". NOTE: At this time, IPD lists 12008 alleles on their website, but only 10958 are available on EBI via their dbfetch tool. Last updated 2022-08-10
	kir_allele_count = 1212 // number of alleles in the IPD KIR database, found near the bottom right at https://www.ebi.ac.uk/ipd/kir/alleles/ and then double-checked with custom urls like "https://www.ebi.ac.uk/Tools/dbfetch/dbfetch?db=ipdnhkir;id=NHP01212;style=raw". NOTE: At this time, IPD lists 1550 alleles on their website, but only 1212 are available on EBI via their dbfetch tool. Last updated 2022-08-10 last updated 2022-07-13
	mhc_protein_count = 2974 // number of records in ipdmhcpro
	kir_protein_count = 1212 // number of records in ipdnhkirpro
	
	// whether you would like the workflow to be "resumable", i.e., to be able
	// to resume the run in case of a crash or troubleshooting by adding the 
	// -resume flag to the nextflow run command. The workflow will be more 
	// efficient and less taxing on the machine where it runs if resumable is
	// set to false. However, setting resumable to false also means that the
	// workflow cannot pick up where it left off if it crashes. It will neeed
	// to start from scratch. We expect most users will not need to trouble-
	// shoot; as such, you may leave resumable as false.
	resumable = false
	
	// which animals to download (feature in development)
	// animals = "mamu,mafa,mane"
	
	// ------------------------------------------------------------------------
	
	
	// AUXILIARY FILES
	iwes_exemplar = "$baseDir/resources/Mamu-exon2-exemplar.fasta" // immuno-whole-exome-sequencing (iWES) exemplar file
	miseq_exemplar = "$baseDir/resources/Mamu_MiSeq_representative_alleles.fasta" // Illumina MiSeq Amplicon exemplar file
	
	
	// WHERE TO PLACE OUTPUTS
	// path for where to place workflow results (default is results/)
	results = "$baseDir/results"

}


manifest {
	homePage = 'https://github.com/dholab/IPD-ref-generator'
	mainScript = 'ipd-ref-generator.nf'
	defaultBranch = 'main'
	description = 'Workflow for generating useful immunological gene allele databases'
	author = 'Nicholas R. Minor'
}


// Docker settings
process.container = 'nrminor/ipd-ref-generator:v1_0_9'
docker.enabled = true


// Changing default workflow-visualizing configuration to true
dag {
	enabled = true
	overwrite = true
	file = 'ipd-ref-gen-dag.png'
}


// Changing default to collecting run stats
timeline {
  enabled = false
  // overwrite = true
  file    = "${params.results}/timeline.html"
}

report {
  enabled = true
  // overwrite = true
  file    = "${params.results}/report.html"
}

trace {
  enabled = true
  // overwrite = true
  fields  = 'task_id,name,status,exit,realtime,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar'
  file    = "${params.results}/trace.txt"
}

// Setting profiles
profiles {

	standard {
		process.executor = 'local'
	}

	chtc {
		process.executor = 'condor'
		process.cpus = 1
		process.disk = '2 GB'
		process.memory = '2 GB'
	}

}
