// workflow parameters
params {
	
	// IMPORTANT WORKFLOW SETTINGS
	// which databases to pull. The more databases you pull, the longer the workflow will take, depending on the number of cores available. Options are true or false.
	pull_mhc = true
	pull_kir = true
	pull_mhc_proteins = true
	pull_kir_proteins = true
	
	// which processing steps to complete (more details about these in README.md)
	trim_for_iwes = false
	trim_for_miseq = false
	
	// number of records to pull for each database. *These must be set manually!*
	mhc_allele_count = 10958 // number of alleles in the IPD MHC database, found near the bottom right at https://www.ebi.ac.uk/ipd/mhc/allele/list/ and then double-checked with custom urls like "https://www.ebi.ac.uk/Tools/dbfetch/dbfetch?db=ipdmhc;id=NHP10958;style=raw". NOTE: At this time, IPD lists 12008 alleles on their website, but only 10958 are available on EBI via their dbfetch tool. Last updated 2022-08-10
	kir_allele_count = 1212 // number of alleles in the IPD KIR database, found near the bottom right at https://www.ebi.ac.uk/ipd/kir/alleles/ and then double-checked with custom urls like "https://www.ebi.ac.uk/Tools/dbfetch/dbfetch?db=ipdnhkir;id=NHP01212;style=raw". NOTE: At this time, IPD lists 1550 alleles on their website, but only 1212 are available on EBI via their dbfetch tool. Last updated 2022-08-10 last updated 2022-07-13
	mhc_protein_count = 2974 // number of records in ipdmhcpro
	kir_protein_count = 1212 // number of records in ipdnhkirpro
	
	// which animals to download (feature coming soon)
	// animals = "mamu,mafa,mane"
	
	
	// AUXILIARY FILES
	iwes_exemplar = "$baseDir/resources/Mamu-exon2-exemplar.fasta" // immuno-whole-exome-sequencing (iWES) exemplar file
	miseq_exemplar = "$baseDir/resources/Mamu_MiSeq_representative_alleles.fasta" // Illumina MiSeq Amplicon exemplar file
	
	
	// WHERE TO PLACE OUTPUTS
	// path for where to place workflow results (default is results/)
	results = "$baseDir/results"
	mhc_temp = "$baseDir/results/mhc_tmp"
	kir_temp = "$baseDir/results/kir_tmp"
	mhc_prot_temp = "$baseDir/results/mhc_prot_tmp"
	kir_prot_temp = "$baseDir/results/kir_prot_tmp"
	
	

}


manifest {
	homePage = 'https://github.com/dholab/IPD-ref-generator'
	mainScript = 'ipd-ref-generator.nf'
	defaultBranch = 'main'
	description = 'Workflow for generating useful immunological gene allele databases'
	author = 'Nicholas R. Minor'
}


// Docker settings
process.container = 'nrminor/ipd-ref-generator:v1_0_9'
docker.enabled = true


// Changing default workflow-visualizing configuration to true
dag {
	enabled = true
	overwrite = true
	file = 'ipd-ref-gen-dag.png'
}


// Changing default to collecting run stats
timeline {
  enabled = true
  // overwrite = true
  file    = "${params.results}/timeline.html"
}

report {
  enabled = true
  // overwrite = true
  file    = "${params.results}/report.html"
}

trace {
  enabled = true
  // overwrite = true
  fields  = 'task_id,name,status,exit,realtime,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar'
  file    = "${params.results}/trace.txt"
}

// Setting profiles
profiles {

	standard {
		process.executor = 'local'
	}

	chtc {
		process.executor = 'condor'
		process.cpus = 1
		process.disk = '2 GB'
		process.memory = '2 GB'
	}

}
