// workflow parameters
params {
	
	// IMPORTANT WORKFLOW SETTINGS
	// which databases to pull. The more databases you pull, the longer the workflow will take, depending on the number of cores available. Options are true or false.
	pull_mhc = true
	pull_kir = true
	pull_mhc_proteins = true
	pull_kir_proteins = true // this download is not yet functional
	
	// number of records to pull for each database. *These must be set manually!*
	mhc_allele_count = 9321 // number of alleles in the IPD MHC database, found near the bottom right at https://www.ebi.ac.uk/ipd/mhc/allele/list/; last updated 2022-07-13
	kir_allele_count = 1132 // number of alleles in the IPD KIR database, found near the bottom right at https://www.ebi.ac.uk/ipd/kir/alleles/; last updated 2022-07-13
	mhc_protein_count = 2974 // number of records in ipdmhcpro
	kir_protein_count = 1212 // number of records in ipdnhkirpro
	
	
	// AUXILIARY FILES
	iwes_exemplar = "$baseDir/resources/Mamu-exon2-exemplar.fasta" // immuno-whole-exome-sequencing (iWES) exemplar file
	miseq_exemplar = "$baseDir/resources/Mamu_MiSeq_representative_alleles.fasta" // Illumina MiSeq Amplicon exemplar file
	
	
	// WHERE TO PLACE OUTPUTS
	// path for where to place workflow results (default is results/)
	results = "$baseDir/results"
	

}


// Docker settings
// NOTE: You must run `docker build --tag ipd-ref-generator:v1_0_5 config/` before the necessary container is available
// process.container = 'ipd-ref-generator:v1_0_5'
// docker.enabled = true


// Changing default workflow-visualizing configuration to true
dag {
	enabled = true
	// overwrite = true
	file = 'ipd-ref-gen-dag.png'
}


// Changing default to collecting run stats
timeline {
  enabled = true
  // overwrite = true
  file    = "${params.results}/timeline.html"
}

report {
  enabled = true
  // overwrite = true
  file    = "${params.results}/report.html"
}

trace {
  enabled = true
  // overwrite = true
  fields  = 'task_id,name,status,exit,realtime,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar'
  file    = "${params.results}/trace.txt"
}

// Setting profiles
profiles {

	standard {
		process.executor = 'local'
	}

	chtc {
		process.executor = 'condor'
	}

}
